* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.header {
    width: 100%;
    max-height: 78px;
    padding: 26px 100px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
}

.list li {
    list-style: none;
}

.list li a {
    position: relative;
    font-size: 15px;
    color: red;
    text-decoration: none;
    margin-left: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    user-select: none;
}

.list li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    background: lightcoral;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.list li a:hover::after {
    transform-origin: left;
    transform: scaleX(1)
}

.image {
    /*display: block;*/
    width: 100%;
    height: auto;
}

.page {
    display: none;
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 48px;
    padding-bottom: 38px;
    letter-spacing: 3px;
}

.subtitle-first {
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    padding: 0 68px 28px 68px;
    letter-spacing: 2px;
}

.subtitle-second {
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    padding: 0 68px 66px 68px;
    letter-spacing: 2px;
}

.btn-start {
    margin: 0 auto;
    display: block;
    color: white;
    background-color: red;
    font-size: 12px;
    min-width: 191px;
    min-height: 51px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 4px;
    transition: .9s;
}

.btn-start:hover {
    color: black;
    background-color: violet;
    letter-spacing: 4px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.4);
}

.footer {
    display: flex;
    justify-content: right;
}

.footer-text {
    padding: 82px 150px 29px;
    letter-spacing: 2px;
    font-weight: bolder;
}


